<!DOCTYPE html>
<html>
    <head>
        <meta content= 'text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Thanks for booking a flight at example.com, <% @passenger.name %></h1>
        <p>
            You have successfully booked a flight with example.com.
        </p>
        <p>
            To check on your flight follow the link: <%= @url %>.
        </p>
        <p>
            Thanks for picking us to book a flight! Have a good day!
        </p>
    </body>
</html>